.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black !important;

}

.logo{
    width:90px;
}

.nav-items{
    padding: 0px 45px;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
    column-gap: 1.2rem;
    font-size: 20px;

}

.search{
    padding: 20px;
}

.res-card{
    width:220px;
    border:none !important;
    border-radius: 7px;
    box-shadow: .5px .5px .5px 0px rgba(0,0,0);
    padding: 7px;
    background: #f0f0f0;
}

.res-card:hover{
    border: 3px solid hwb(0 11% 86% / 0.607);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0);
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

